.intro{
    font-size: 4vw;
}

.centered {
    width: 90%;
    margin: auto;
}

.profile {
    height: 20vw;
}

/* Add a black background color to the top navigation */
.navigation {
    margin: 0;
    background-color: #333;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    display: block;
}

/* Style the links inside the navigation bar */
.navigation a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    /*    Right align text*/
    display: flex;
    justify-content: flex-end;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation .active {
    background-color: #42eadd;
    color: black;
}

.image {
    max-width: 100%;
    height: auto;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 60%;
}

.row:hover > .rightcolumn {
    display: inline-block;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 40%;
    max-height: 20vw;
    padding-left: 20px;
    display: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding: 20px;
}

a {
    color: black;
}

.links {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.links a {
    color: grey;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: grey;
}

.head {
    display: inline-flex;
}

/* Hide image on mobile */
@media only screen and (max-width: 768px) {
    .leftcolumn {
        width: 100%;

    }
    .rightcolumn {
        width: 0;
    }

}