.intro{
    font-size: 4vw;
}

.centered {
    width: 90%;
    margin: auto;
}

.profile {
    height: 20vw;
}

/* Add a black background color to the top navigation */
.navigation {
    margin: 0;
    background-color: #333;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    display: block;
}

/* Style the links inside the navigation bar */
.navigation a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    /*    Right align text*/
    display: flex;
    justify-content: flex-end;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation .active {
    background-color: #42eadd;
    color: black;
}

.blogtitle {
    margin-top: 0;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding: 20px;
}

a {
    color: black;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: grey;
}

.head {
    display: inline-flex;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .leftcolumn {
        width: 100%;
    }
}