.intro {
    font-size: 4vw;
    color: #444;
}

.centered {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
}

.profile {
    height: 20vw;
}

/* Add a black background color to the top navigation */
.navigation {
    margin: 0;
    background-color: #333;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    display: block;
}

/* Style the links inside the navigation bar */
.navigation a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    /*    Right align text*/
    display: flex;
    justify-content: flex-end;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation .active {
    background-color: #42eadd;
    color: black;
}

.blogtitle {
    margin-top: 0;
    color: #222;
}

.blogtitle a {
    color: #222;
    text-decoration: none;
}

.blogtitle a:hover {
    color: #0066cc;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding: 20px;
}

.row p {
    color: #666;
    line-height: 1.5;
}

.row h5 {
    color: #888;
    margin: 0.5em 0;
}

a {
    color: black;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

/* Blog post typography */
.centered h1 {
    color: #222;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.centered h2 {
    color: #333;
    font-size: 1.8em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.3;
}

.centered h3 {
    color: #444;
    font-size: 1.4em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

.centered p {
    margin-bottom: 1em;
    color: #444;
}

.centered a {
    color: #0066cc;
    text-decoration: underline;
}

.centered a:hover {
    color: #0052a3;
}

.centered code {
    background-color: #f4f4f4;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    color: #d63384;
}

.centered pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 1.5em 0;
}

.centered pre code {
    background-color: transparent;
    padding: 0;
    color: #333;
}

.centered blockquote {
    border-left: 4px solid #42eadd;
    margin: 1.5em 0;
    padding-left: 1em;
    color: #555;
    font-style: italic;
}

.centered ul, .centered ol {
    margin-bottom: 1em;
    padding-left: 2em;
}

.centered li {
    margin-bottom: 0.5em;
    color: #444;
}

.head {
    display: inline-flex;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .leftcolumn {
        width: 100%;
    }
}